{% extends "base.html" %}
{% block content %}
<h1>Text Segmentor</h1>
<form class="form-inline" action="/result" method="post" name="input_text">
    <div class="form-group">
        <p>
            Please paste the text to segment: <br>
        <div>
            <textarea class="span8" rows="20" name="Text" placeholder="Paste text here."></textarea>
        </div>
        <br>
        </p>
        <div class="button_wrapper">
            <p><input class="btn btn-primary" type="submit" value="Segment Text"> <input type="reset" class="btn btn-danger"></p>
        </div>
    </div>
</form>
{% endblock %}